html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
htmllabel, htmldescription,
bodylabel,
bodydescription {
  font-size: 18px;
  line-height: 27px;
}
htmlmain,
bodymain {
  font-size: 42px;
  line-height: 72px;
}
htmlmin-description,
bodymin-description {
  font-size: 12px;
  line-height: 18px;
}
htmlmin-text,
bodymin-text {
  font-size: 11px;
  line-height: 18px;
}

.min-w-max-content {
  min-width: max-content !important;
}

.section-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.005em;
  text-transform: capitalize;
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%), #232631;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  text-transform: capitalize;
  color: #232631;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8a8a8a;
}
.section-min-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #232631;
}
.section-min-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #848484;
}
.section-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #fff;
  padding: 12px 32px;
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%);
  border-radius: 12px;
}
.section-sub {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-transform: capitalize;
  color: #232631;
}

.navbar {
  height: 112px;
}
.navbar-brand {
  margin-right: 0;
}
.navbar-btn {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232631;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px 32px;
}
.navbar-btn:last-child {
  border: none;
  outline: none;
  background: linear-gradient(336.8deg, rgba(12, 100, 220, 0.1) 2.51%, rgba(44, 149, 219, 0.1) 87.37%);
  color: #2c95db;
  text-transform: capitalize;
  margin-left: 10px;
}
.navbar .brand-logo {
  margin-right: 12px;
}
.navbar .brand-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #232631;
}
.navbar .nav-item {
  margin: 10px 0;
  text-align: center;
}
@media (min-width: 992px) {
  .navbar .nav-item {
    margin-right: 40px;
  }
  .navbar .nav-item:first-child {
    margin-left: 60px;
  }
}
.navbar .nav-link {
  padding: 0px !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232631;
}
.navbar .nav-link.active {
  color: #0d66dd;
}

#hero {
  padding-top: 70px;
}
#hero .hero-information {
  background: #fff;
  border-radius: 24px 12px;
  width: 230px;
  top: 115px;
  left: -200px;
}
#hero .hero-information .info-top-wrapper {
  padding: 14px 16px 16px 16px;
}
#hero .hero-information .info-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232631;
}
#hero .hero-information .info-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848484;
}
#hero .hero-information .info-container {
  padding: 8px 16px;
  background-color: #fff;
}
#hero .hero-information .info-container.active {
  background: #f5f5f5;
}
#hero .hero-information .info-thumbnail {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
#hero .hero-information .info-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #232631;
}
#hero .hero-information .info-role {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #848484;
}
#hero .hero-information .info-btn {
  border: none;
  outline: none;
  background: linear-gradient(336.8deg, rgba(12, 100, 220, 0.1) 2.51%, rgba(44, 149, 219, 0.1) 87.37%);
  color: #2c95db;
  text-transform: capitalize;
  width: 100%;
  height: 41px;
}
#hero .hero-information .info-bottom-wrapper {
  padding: 14px 16px;
}
#hero .section-title {
  margin-bottom: 12px;
}
#hero .section-description {
  margin-bottom: 56px;
}
#hero .section-wrapper {
  width: 415px;
  height: 600px;
}
#hero .section-image {
  height: 585px;
  bottom: 0;
  left: -60px;
}

#service {
  padding: 120px 0;
}
#service .section-min-description {
  font-weight: 400;
  color: #8a8a8a;
}
#service .service-col:nth-of-type(2) .service-icon {
  background-color: #fff2f0;
}
#service .service-col:nth-of-type(3) .service-icon {
  background-color: #eaf9ef;
}
#service .service-col:nth-of-type(4) .service-icon {
  background-color: #fff6e7;
}
#service .service-col:nth-of-type(5) .service-icon {
  background-color: #ebf7ff;
}
#service .service-card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
}
#service .service-icon {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  margin-bottom: 24px;
}
#service .service-title {
  font-weight: 600;
  text-transform: capitalize;
  color: #232631;
}
#service .service-description {
  font-weight: 400;
  color: #8a8a8a;
  margin-bottom: 42px;
}
#service .service-link {
  text-decoration: none;
}
#service .service-link:hover {
  color: #232631;
  text-decoration: none;
}
#service .service-link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #eb7530;
  margin-right: 12px;
}

#specialist .container {
  background: #fff;
  border-radius: 24px;
}
@media (min-width: 992px) {
  #specialist .container {
    padding: 56px;
  }
}
#specialist .specialist-profile {
  border-radius: 24px;
  padding: 14px;
  border: 4px solid transparent;
  transition: all 0.3s;
}
@media (min-width: 1400px) {
  #specialist .specialist-profile {
    margin-right: 14px;
  }
}
#specialist .specialist-profile:hover {
  border: 4px solid #0d66dd;
}
#specialist .specialist-profile:hover .specialist-cover,
#specialist .specialist-profile:hover .specialist-role {
  opacity: 1;
}
@media (min-width: 992px) {
  #specialist .specialist-wrapper {
    width: auto;
  }
}
#specialist .specialist-cover {
  border-radius: 24px;
  position: absolute;
  background: rgba(12, 26, 39, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  opacity: 0;
}
#specialist .specialist-image {
  max-width: auto;
}
@media (min-width: 1200px) {
  #specialist .specialist-image {
    max-width: 240px;
  }
}
#specialist .specialist-role {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  #specialist .specialist-role {
    font-size: 24px;
  }
}
#specialist .specialist-amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232631;
}
#specialist .specialist-job-role {
  font-weight: 400;
  color: #7B7B7B;
}
#specialist .specialist-btn {
  border: none;
  outline: none;
  padding: 12px 32px;
}
#specialist .specialist-btn:last-child {
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#specialist .specialist-btn:last-child:hover {
  outline: none;
  border: none;
}
#specialist .specialist-description {
  margin-top: 12px;
  margin-bottom: 30px;
}
#specialist .specialist-data {
  margin-bottom: 26px;
}
#specialist .section-min-description {
  font-weight: 400;
  color: #8a8a8a;
}

#reason {
  padding: 120px 0;
}
#reason .section-wrapper {
  width: 415px;
  height: 604px;
}
#reason .section-image {
  width: 518px;
  height: 600px;
  bottom: 0;
  left: -50px;
}
#reason .section-sub {
  margin-bottom: 32px;
}
#reason .section-min-description {
  font-weight: 600;
}
#reason .section-min-description:first-child {
  text-transform: capitalize;
}
#reason .section-min-description:last-child {
  color: #8a8a8a;
  font-weight: 400;
}
#reason .reason-card {
  background: #fff;
  border-radius: 12px;
  padding: 24px 32px;
  width: fit-content;
  margin-bottom: 24px;
}
#reason .reason-icon {
  min-width: 52px;
  min-height: 52px;
  background: #e8f1fc;
  border-radius: 12px;
  margin-right: 20px;
}

#article .article-btn {
  border-radius: 12px;
  border: 1px solid #0c64dc;
  position: relative;
  border-radius: 12px;
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 12px 32px;
}
#article .article-btn:after {
  content: ".";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
#article .article-swiper-card {
  background: #fff;
}
#article .article-swiper-card .article-thumbnail {
  border-radius: 30px;
  width: 100%;
  height: auto;
}
@media (min-width: 1400px) {
  #article .article-swiper-card .article-thumbnail {
    width: 100%;
    height: 210px;
  }
}
#article .article-swiper-card .article-profile {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#article .article-swiper-card .article-link {
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  padding: 12px 32px;
  border: none;
  outline: none;
  background: linear-gradient(336.8deg, rgba(12, 100, 220, 0.1) 2.51%, rgba(44, 149, 219, 0.1) 87.37%);
  color: #2c95db;
  text-transform: capitalize;
}
#article .article-swiper-card .article-link:hover {
  color: #2c95db;
  text-decoration: none;
}
#article .article-swiper-card .article-content {
  padding: 16px;
}
#article .section-min-text {
  text-decoration: none;
  color: #0d66dd;
  text-transform: capitalize;
}
#article .section-min-text:hover {
  color: #0d66dd;
  text-decoration: none;
}
#article .section-min-text.duration {
  color: #8a8a8a;
}
#article .section-min-text.duration::before {
  width: 7px;
  height: 21px;
  content: ".";
  font-size: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  top: -4px;
  margin: 0 4px;
  color: #8a8a8a;
}
#article .section-description:not(.article-author) {
  color: #232631;
}